.sec3 {
    background-image: url("../img/sec3-bg.jpg");
    margin-top: -15%;
    padding-top: 17%;
    padding-bottom: 90px;
    z-index: 1;

    @include media(w1024) {
        // padding-top: 220px;
        // padding-bottom: 60px;
    }

    @include media(w768) {
        // padding-top: 120px;
        // padding-bottom: 30px;
    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;

        @include media(w768) {
            max-width: none;
        }
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        //max-width: 800px;
    }

    &__summ {
        white-space: nowrap;
    }
}