.sec5 {
    background-image: url("../img/sec5-bg-pattern.jpg");
    background-repeat: repeat;
    background-size: auto;
    margin-top: 150px;
    padding-bottom: 150px;

    &__bg-top {
        position: absolute;
        bottom: 100%;
        left: 0;
        min-width: 100%;
    }
}