.sec10 {
    padding-top: 60px;

    @include media(w768) {
        padding-top: 22%;
        margin-top: -20%;
    }

    @include media(w600) {
        // padding-top: 20%;
        // margin-top: -22%;
    }

    @include media(w500) {
        margin-top: -30%;
    }

    @include media(w400) {
        margin-top: -45%;
    }

    &__gallery {
        padding: 0 40px;

        .slick-arrow {
            transition: $trans;
            transform: translateY(-50%);
            background-image: url("../img/icon-arrow-left.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            font-size: 0;
            height: 77px;
            width: 23px;

            &.slick-prev {
                left: 0;

                &:hover {
                    transform: translateY(-50%) scale(1.1);
                }
            }

            &.slick-next {
                transform: translateY(-50%) scaleX(-1);
                right: 0;

                &:hover {
                    transform: translateY(-50%) scale(-1.1, 1.1);
                }
            }
        }
    }

    &__gallery-item {
        padding: 0 10px;
        height: 220px;
        
        img {
            display: block;
            width: 100%;
        }

        @include media(w1024) {
            height: 32vw;
        }

        @include media(w768) {
            height: 60vw;
        }
    }

    &__gallery-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;

        &_mirror {
            transform: scaleY(-1);
        }

        &_rotate {
            transform: rotate(-90deg);
        }
    }
}