div#bottomFormContainer.bottom-form-container
    p.l.ff-sans.bold.ta-center.mb1.bottom-form-container__title.text-shadow.
        Сообщите нам об этом прямо сейчас:
    form(data-next="#bigForm")#bottomFormSecond.bottom-form.bottom-form_second
        label.bottom-form__label
            input(type="text" name="city" placeholder="Ваш город" required).input
        label.bottom-form__label
            input(type="text" name="phone" placeholder="Телефон" required).input
        label.bottom-form__label
            input(type="email" name="email" placeholder="E-mail" required).input
        button.btn-round.bottom-form__btn.
            Проверить город
    p.l.ff-sans.bold.ta-center.mb0.
        и конкуренты будут ровняться на Вас уже через 2 месяца после старта!
