footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            a(href="/").footer__logo
                img(src="img/header-logo.jpg", alt="").footer__logo-img
                span.footer__logo-text.
                    Франшиза<br> «Эталон Кухни»
            a(href="tel:88003331963" data-phone="88003331963").header__link.header__link_call
                img(src="img/icon-call.png", alt="").header__img-call
            //- p.footer__text.footer__text_copy.
            //-     © 2017, «Уномоменто»
            //- div.footer__social
            //-     p.footer__text.footer__text_social-title.
            //-         Мы в соц. сетях
            //-     ul.footer__social-list
            //-         li.footer__social-item
            //-             a(href="" target="_blank").footer__link.footer__link_social
            //-                 i.fa.fa-vk
            //-         li.footer__social-item
            //-             a(href="" target="_blank").footer__link.footer__link_social
            //-                 i.fa.fa-facebook
            //-         li.footer__social-item
            //-             a(href="" target="_blank").footer__link.footer__link_social
            //-                 i.fa.fa-tripadvisor
        div.footer__block.footer__block_contacts
            div.footer__social.footer__social_mobile
                div.footer__social-item
                    a(href="https://vk.com/etalon_mbl" target="_blank")
                        img(src="img/icon-vk.png", alt="")
                div.footer__social-item
                    a(href="http://instagram.com/etalon_mbl/" target="_blank")
                        img(src="img/icon-inst.png", alt="")
            p.footer__text.footer__text_adress.ff-sans.
                Напишите нам в Viber и WhatsApp <br>
                На номер 8 9600 488 666 <br>
                <a class="footer__link" href="mailto:etalon-kuhni.ru">etalon-kuhni.ru</a>
        div.footer__block.footer__block_feedback
            div.footer__feedback
                //div.footer__social
                    //div.footer__social-item
                        a(href="" target="_blank")
                            img(src="img/icon-vk.png", alt="")
                    div.footer__social-item
                        a(href="http://instagram.com/etalon_mbl/" target="_blank")
                            img(src="img/icon-inst.png", alt="")
                div.footer__feedback-item
                    a(href="tel:88003331963" data-phone="88003331963").footer__phone.bold.
                        8 800 333 19 63
                a().footer__link.footer__link_getcall.js-small-btn.
                    Заказать обратный звонок