header.header.ff-sans
    div.container.header__container
        div.header__item.header__item_description
            p.bold.header__description.mb0.
                Франшиза<br>«Эталон Кухни»
        div.header__item.header__item_logo
            a(href="/").header__logo
                img(src="img/header-logo.jpg", alt="").header__logo-img
        div.header__item.header__item_contacts
            a(href="tel:88003331963" data-phone="88003331963").header__link.phone.bold.header__link_pc.
                8 800 333 19 63
            a(href="").header__link.link.link_getcall.js-small-btn.header__link_pc.
                Заказать обратный звонок
            a(href="tel:88003331963" data-phone="88003331963").header__link.header__link_call
                img(src="img/icon-call.png", alt="").header__img-call