section.sec.sec1
    include header
    div.container.color-white.ta-center.sec1__container
        h2.tt-uppercase.
            Откройте свой<br> "бизнес на кухне"!
        p.m.ff-sans.sec1__subtitle.
            - продавайте доступные кухни европейского качества и зарабатывайте от 295 000 рублей в месяц
        div.s.ff-sans.sec1__note.mb1
            p.medium.mb0.
                Динамика рынка, тонкости сферы и состав франшизы — в презентации.
            p.bold.mb0.
                Скачайте, чтобы узнать всё:
        button.btn-round.js-small-btn.
            Скачать PDF-презентацию франшизы (10 мб)