section.sec.sec10
    div.container
        h3.ta-center.mb1.
             Такие кухни Вы будете продавать:
        div.sec10__gallery
            - for(var i = 1; i <= 19; i++) {
                div().sec10__gallery-item
                    div(style="background-image:url('img/sec10(" + i + ").JPG');").sec10__gallery-img
            - }