section.sec.sec11
    div.container.color-white.ta-center
        h3.sec11__heading.mb1.text-shadow.
            Готовы стать представителем эталонной кухонной мебели в Вашем городе?
        include bottom-form_second