section.sec.sec2
    div.sec2__content.sec2__content_top
        div.container.sec2__container.sec2__container_top
            h3.
                Бизнес на кухнях,<br> который нужен каждому дому
            p.s.sec2__text.mb2.
                Вдумайтесь — ежегодно в России появляется больше 1 500 000 новых квартир и домов! И в каждом из них есть кухня...
            h3.
                Стоп
            p.s.sec2__text.mb0.
                Кухонь там как раз и нет! Жильё совсем новое — а застройщики не горят желанием обставлять его за свой счёт. И новоиспечённые домовладельцы отправляются на поиски качественной кухни…
    div.sec2__content.sec2__content_bottom
        div.container.sec2__container.sec2__container_bottom
            h3.black.color-white.text-shadow.
                Кому они заплатят за кухню — решать только Вам