section.sec.sec3
    div.container.ta-center.color-white.text-shadow
        p.l.ff-sans.sec3__text.mb1.
            Сотни клиентов готовы платить за качественные кухни от <span class="bold sec3__summ">80 000 рублей</span>. Мы готовы поставлять Вам такие кухни
        h3.sec3__title.bold.mb1.
            Хотите зарабатывать<br> на этом <span class="color-yellow">от 295 000<span class="ff-rub">c</span> в месяц?</span><br> Мы покажем, как
        button.btn-round.js-small-btn.
            Скачать PDF-презентацию франшизы (10 мб)