section.sec.sec4
    div.container
        h3.ta-center.
            До первой прибыли всего 5 шагов:
        div.ta-center.mb2
            img(src="img/icon-arrow.png", alt="")
        div.sec4__gallery
            div.sec4__gallery-row
                div.sec4__gallery-item.sec4__gallery-item_left
                    div.sec4__gallery-img-wrap
                        div(style="background-image:url('img/sec4-img1.jpg')").sec4__gallery-img
                        img(src="img/sec4-img1.jpg", alt="").sec4__gallery-img-mobile
                div.sec4__gallery-item.sec4__gallery-item_text
                    div.sec4__gallery-number
                        div.sec4__gallery-value.
                            1
                    div.sec4__gallery-text
                        p.s.
                            Стать нашим партнёром и получить права на бренд «Эталон Кухни»
                        div.sec4__gallery-note
                            p.s.bold.mb0
                                |Вложения:
                                span.sec4__gallery-sum.
                                    300 000
                                span.ff-rub.
                                    c
            div.sec4__gallery-row
                div.sec4__gallery-item.sec4__gallery-item_text
                    div.sec4__gallery-number
                        div.sec4__gallery-value.
                            2
                    div.sec4__gallery-text
                        p.s.
                            Открыть выставочную точку по нашим инструкциям
                        div.sec4__gallery-note
                            p.s.bold.mb0
                                |Вложения:
                                span.sec4__gallery-sum.
                                    600 000
                                span.ff-rub.
                                    c
                div.sec4__gallery-item.sec4__gallery-item_right
                    div.sec4__gallery-img-wrap
                        div(style="background-image:url('img/sec4-img2.jpg')").sec4__gallery-img
                        img(src="img/sec4-img2.jpg", alt="").sec4__gallery-img-mobile
            div.sec4__gallery-row
                div.sec4__gallery-item.sec4__gallery-item_left
                    div.sec4__gallery-img-wrap
                        div(style="background-image:url('img/sec4-img3.jpg')").sec4__gallery-img
                        img(src="img/sec4-img3.jpg", alt="").sec4__gallery-img-mobile
                div.sec4__gallery-item.sec4__gallery-item_text
                    div.sec4__gallery-number
                        div.sec4__gallery-value.
                            3
                    div.sec4__gallery-text
                        p.s.
                            Запустить рекламу, настройкой которой займёмся мы
                        div.sec4__gallery-note
                            p.s.bold.mb0
                                |Вложения:
                                span.sec4__gallery-sum.
                                    30 000
                                span.ff-rub.
                                    c
            
            div.sec4__gallery-row
                div.sec4__gallery-item.sec4__gallery-item_text
                    div.sec4__gallery-number
                        div.sec4__gallery-value.
                            4
                    div.sec4__gallery-text
                        p.s.
                            Принять заказ, отправить его нам и получить готовую кухню
                        div.sec4__gallery-note
                            p.s.bold.mb0
                                |Среднее число проданных кухонь в месяц:
                                span.sec4__gallery-sum.
                                    24
                                span.
                                    единицы
                div.sec4__gallery-item.sec4__gallery-item_right
                    div.sec4__gallery-img-wrap
                        div(style="background-image:url('img/sec4-img4.jpg')").sec4__gallery-img
                        img(src="img/sec4-img4.jpg", alt="").sec4__gallery-img-mobile
            
            div.sec4__gallery-row
                div.sec4__gallery-item.sec4__gallery-item_left
                    div.sec4__gallery-img-wrap
                        div(style="background-image:url('img/sec4-img5.jpg')").sec4__gallery-img
                        img(src="img/sec4-img5.jpg", alt="").sec4__gallery-img-mobile
                div.sec4__gallery-item.sec4__gallery-item_text
                    div.sec4__gallery-number
                        div.sec4__gallery-value.
                            5
                    div.sec4__gallery-text
                        p.s.
                            Установить кухню руками наёмных, опытных монтажников, и получить прибыль с продажи
                        div.sec4__gallery-note
                            p.s.bold.mb0
                                |Ежегодная чистая прибыль:<br> от
                                span.sec4__gallery-sum.
                                    2 700 000
                                span.ff-rub.
                                    c
        p.ta-center.xl.ff-serif.bold.
            Окупаемость — на 6 месяц после старта!
        div.ta-center
            button.btn-round.js-small-btn.
                Скачать PDF-презентацию франшизы (10 мб)