section.sec.sec5
    img(src="img/sec5-bg-top.png", alt="").sec5__bg-top
    div.container
        h3.medium.color-white.ta-center.
            Посчитайте Вашу прибыль уже сейчас
        div.sec5__calc.calc
            p.ff-sans.color-white.mb2.
                Количество продаж
            div.calc__wrap
                input(type="range"
                      min="1"
                      max="10"
                      step="1"
                      value="1")
                div.calc__values
                    div.calc__value
                        div.calc__value-number.calc__value-number_first.
                            0
                        div.calc__value-number.
                            17
                    div.calc__value
                        div.calc__value-number.
                            19
                    div.calc__value
                        div.calc__value-number.
                            23
                    div.calc__value
                        div.calc__value-number.
                            27
                    div.calc__value
                        div.calc__value-number.
                            31
                    div.calc__value
                        div.calc__value-number.
                            35
                    div.calc__value
                        div.calc__value-number.
                            38
                    div.calc__value
                        div.calc__value-number.
                            42
                    div.calc__value
                        div.calc__value-number.
                            46
            div.calc__money.ff-sans
                p.m.
                    Выручка: <span class="calc__sum">800 000</span><span class="ff-rub">a</span>
                p.m.
                    Выручка: <span class="calc__sum">80 000</span><span class="ff-rub">a</span>
            p.m.ff-sans.ta-center.
                Ежемесячные затраты: <span class="color-yellow"><span class="calc__sum">7 710</span><span class="ff-rub">a</span></span>
            div.calc__profit.ff-sans.ta-center
                div.calc__profit-note
                    p.m.ta-left.
                        Ваша прибыль:
                    p.m.
                        <span class="calc__profit-sum">23 800 000</span><span class="ff-rub">a</span>