section.sec.sec6
    img(src="img/sec6-bg-top.png", alt="").sec6__bg.sec6__bg_top
    img(src="img/sec6-bg-top.png", alt="").sec6__bg.sec6__bg_bottom
    div.container.sec6__container
        img(src="img/sec6-img.png", alt="").sec6__img
        div.sec6__text
            h3.sec6__text-title.
                Думаете,<br> что все так<br> просто?
            p.l.bold.
                Просто!
            p.l.
                Если под рукой есть наша база знаний, бесперебойное производство и поддержка