section.sec.sec7
    div.container.ta-center
        h3.mb1.
            Что Вы получаете, будучи нашим партнёром?
        div.sec7__list
            div.sec7__list-item
                div.sec7__list-img-wrap
                    img(src="img/sec7-icon1.png", alt="").sec7__list-img
                div.sec7__list-number
                    span.sec7__list-number-val.
                        1
                p.xs.
                    Быстро запоминающийся бренд с конкретным позиционированием
            div.sec7__list-item
                div.sec7__list-img-wrap
                    img(src="img/sec7-icon2.png", alt="").sec7__list-img
                div.sec7__list-number
                    span.sec7__list-number-val.
                        2
                p.xs.
                    Схему работы: от открытия ИП до получения благодарности и денег от клиента
            div.sec7__list-item
                div.sec7__list-img-wrap
                    img(src="img/sec7-icon3.png", alt="").sec7__list-img
                div.sec7__list-number
                    span.sec7__list-number-val.
                        3
                p.xs.
                    Эффективную маркетинговую стратегию и готовые рекламные материалы
            div.sec7__list-item
                div.sec7__list-img-wrap
                    img(src="img/sec7-icon4.png", alt="").sec7__list-img
                div.sec7__list-number
                    span.sec7__list-number-val.
                        4
                p.xs.
                    Штат профессиональных дизайнеров, которые воплотят мечты Ваших заказчиков в реальность
            div.sec7__list-item
                div.sec7__list-img-wrap
                    img(src="img/sec7-icon5.png", alt="").sec7__list-img
                div.sec7__list-number
                    span.sec7__list-number-val.
                        5
                p.xs.
                    Удалённый завод по производству эксклюзивных, доступных кухонь европейского качества