section.sec.sec8
    img(src="img/sec8-flag.png", alt="").sec8__decor
    div.container
        div.sec8__bg-mobile-wrap
            img(src="img/sec8-bg-mobile.jpg", alt="").sec8__bg-mobile
        div.sec8__note
            p.xl.medium.ta-center.
                Ничего лишнего. Только то, что нужно для старта
            button.btn-round.js-small-btn.
                Скачать PDF-презентацию франшизы (10 мб)