section.sec.sec9
    img(src="img/sec9-bg.png", alt="").sec9__bg
    div.container.ta-center.color-white
        h3.medium.text-shadow.
            Мы поддержим Вас и поможем добиться вдохновляющих результатов!
        p.l.sec9__subtitle.ff-sans.
            Обучение, мотивация, технологическое сопровождение — включено во франшизу и доступно только для одного партнёра в каждом городе!
        include bottom-form